<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top d-flex justify-content-around">
  <ul class="nav">
    <li *ngIf="!user" class="nav-item">
      <a class="nav-link active" href="/about.html">About</a>
    </li>
    <li *ngIf="user" class="nav-item">
      <a class="nav-item nav-link active" routerLink="/users/{{user}}">Profile</a>
    </li>
    <li *ngIf="user" class="nav-item">
      <a class="nav-item nav-link active" routerLink="/markets">Active</a>
    </li>
    <li *ngIf="user" class="nav-item">
      <a class="nav-item nav-link active" routerLink="/closed">Closed</a>
    </li>
  </ul>
</nav>