<div *ngIf="group" class="container">
  <h1>{{group.name}}</h1>
  <ul class="list-group">
    <li *ngFor="let user of group.users" class="list-group-item d-flex justify-content-between align-items-center">
      {{user}}
      <span *ngIf="isAdmin(user)" class="badge badge-primary badge-pill">Admin</span>
    </li>
  </ul>
  <br>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="New member name" [(ngModel)]="newMember" name="name">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" (click)="addUser()">Add Member</button>
    </div>
  </div>
  <p *ngIf="error" style="color: darkred;">User does not exist</p>
  <button *ngIf="!admin" type="button" class="btn btn-outline-danger" (click)="leaveGroup()">Leave Group</button>
</div>