<div *ngIf="markets" class="container">
  <ul *ngIf="markets.length > 0" class="list-group">
    <li *ngFor="let market of markets" class="list-group-item">
      <h4>{{market.market_name}}</h4>
      <div class="d-flex justify-content-between">
        <div>
          <h5>{{market.group_name}}</h5>
          <div class="text-muted">{{market.create_time | date: 'shortDate'}}</div>
          <small class="text-muted">{{market.market_descriptor}}</small>
        </div>
        <div>
          <h1>{{market.settle | currency}}</h1>
        </div>
      </div>
    </li>
  </ul>
  <p *ngIf="markets.length == 0">
    Looks like no markets have settled yet. Click here for all <a routerLink="/markets">active markets</a>.
  </p>
  <br>
</div>