<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Settled</th>
                <th scope="col">Created</th>
                <!-- <th scope="col">Ended</th> -->
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let market of markets">
                <th scope="row">{{market.market_name}}</th>
                <td>{{market.settle | currency}}</td>
                <td>{{market.create_time | date: 'shortDate'}}</td>
                <td>{{market.market_descriptor}}</td>
            </tr>
        </tbody>
    </table>
</div>