<div class="container">
  <form>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Name" [(ngModel)]="newMarket.name" name="name">
    </div>
    <div class="form-group">
      <textarea class="form-control" placeholder="Description" [(ngModel)]="newMarket.description" name="description"></textarea>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="group-select">Group</label>
      </div>
      <select class="custom-select" [(ngModel)]="newMarket.group" name="group">
        <option *ngIf="!newMarket.group" selected>Choose a group</option>
        <option *ngIf="newMarket.group" disabled>Choose a group</option>
        <option *ngFor="let group of groups">{{group.name}}</option>
      </select>
    </div>
    <!-- <div class="form-group">
      <input type="datetime-local" class="form-control" placeholder="End Date" [(ngModel)]="newMarket.end" name="end">
    </div> -->
    <button type="submit" class="btn btn-outline-dark" (click)="createMarket()">Create Market</button>
  </form>
  <br>
  <p *ngIf="error" style="color: darkred;">Fields missing</p>
</div>