<div *ngIf="user" class="container">
  <h1>{{ user.name }}</h1>
  <h3 class="mt-3"><strong>PnL </strong>{{user.pnl | currency}}</h3>
  <h5><strong>Cash </strong>{{user.cash | currency}}</h5>
  <h3 class="mt-3">Positions</h3>
  <ul *ngIf="user.positions" class="list-group">
    <li *ngFor="let position of user.positions"
      class="list-group-item list-group-item-action flex-column align-items-start"
      routerLink="/markets/{{position.security_id}}">
      <h5 class="mb-1">{{ position.market_name }}</h5>
      <p class="mb-0">{{ position.position }} contracts at {{ position.average_price | currency }}</p>
      <small *ngIf="position.best_bid && position.best_ask">
        Last traded: {{ position.last_traded | currency }} ({{position.best_bid | currency}} - {{position.best_ask | currency}})
      </small>
      <small *ngIf="position.best_bid && !position.best_ask">
        Last traded: {{ position.last_traded | currency }} ({{position.best_bid | currency}} - No asks)
      </small>
      <small *ngIf="!position.best_bid && position.best_ask">
        Last traded: {{ position.last_traded | currency }} (No bids - {{position.best_ask | currency}})
      </small>
      <small *ngIf="!position.best_bid && !position.best_ask">
        Last traded: {{ position.last_traded | currency }} (No bids or asks)
      </small>
    </li>
  </ul>
  <p *ngIf="!user.positions || user.positions.length == 0">No current positions</p>
  <br>
  <h3>Bids</h3>
  <ul *ngIf="user.bids" class="list-group">
    <li *ngFor="let bid of user.bids"
      class="list-group-item list-group-item-action flex-column align-items-start"
      routerLink="/markets/{{bid.security_id}}">
      <h5 class="mb-1">{{ bid.market_name }}</h5>
      <p class="mb-0">Your bid: {{ bid.volume }} contracts at {{ bid.price | currency }}</p>
      <small *ngIf="bid.price != bid.best_bid" class="mb-0 text-muted">
        Best bid: {{ bid.best_bid_volume }} contracts at {{ bid.best_bid | currency }}
      </small>
      <small *ngIf="bid.price == bid.best_bid" class="mb-0 text-muted">
        Your bid is currently the best bid
      </small>
    </li>
  </ul>
  <p *ngIf="!user.bids || user.bids.length == 0">No current bids</p>
  <br>
  <h3>Asks</h3>
  <ul *ngIf="user.asks" class="list-group">
    <li *ngFor="let ask of user.asks"
      class="list-group-item list-group-item-action flex-column align-items-start"
      routerLink="/markets/{{ask.security_id}}">
      <h5 class="mb-1">{{ ask.market_name }}</h5>
      <p class="mb-0">Your ask: {{ ask.volume }} contracts at {{ ask.price | currency }}</p>
      <small *ngIf="ask.price != ask.best_ask" class="mb-0 text-muted">
        Best ask: {{ ask.best_ask_volume }} contracts at {{ ask.best_ask | currency }}
      </small>
      <small *ngIf="ask.price == ask.best_ask" class="mb-0 text-muted">
        Your ask is currently the best ask
      </small>
    </li>
  </ul>
  <p *ngIf="!user.asks || user.asks.length == 0">No current asks</p>
  <br>
  <button type="button" class="btn btn-outline-danger" (click)="deleteExposure()">Delete All Exposure</button>
</div>
<div *ngIf="user.groups" class="container">
  <h2>Groups</h2>
  <p *ngIf="user.groups.length == 0">Looks like you're not in any groups yet.</p>
  <ul class="list-group">
    <li *ngFor="let group of user.groups"
      class="list-group-item list-group-item-action"
      routerLink="/group/{{group.id}}">
      {{group.name}}
    </li>
  </ul>
  <br *ngIf="user.groups.length > 0">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="New group name" [(ngModel)]="newGroup" name="name">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit" (click)="createGroup()">Create Group</button>
    </div>
  </div>
  <br>
</div>