<div *ngIf="markets" class="container">
  <table *ngIf="markets.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Group</th>
        <th scope="col">Last Traded</th>
        <th scope="col">Bid - Ask</th>
        <!-- <th scope="col">Created</th>
        <th scope="col">Ending</th> -->
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let market of markets" routerLink="/markets/{{market.security_id}}">
        <th scope="row">{{market.market_name}}</th>
        <td>{{market.group_name}}</td>
        <td>{{market.last_traded | currency}}</td>
        <td>{{market.best_bid | currency}} - {{market.best_ask | currency}}</td>
        <!-- <td>{{market.create_time | date: 'short'}}</td>
        <td>{{market.end_time | date: 'short'}}</td> -->
        <td>{{market.market_descriptor}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="markets.length == 0">
    Looks like there aren't any markets yet. <a routerLink="/create">Click here</a> to create one.
  </p>
</div>