/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 20px;
}

.text-primary {
  cursor: pointer;
}

.list-group-item-action:hover {
  cursor: pointer;
}