/* You can add global styles to this file, and also import other style files */
.container {
  margin-top: 20px;
}

td:hover {
  color: gray;
}

tbody > tr:hover {
  background-color: gainsboro;
  cursor: pointer;
}

.text-primary {
  cursor: pointer;
}