<div *ngIf="payments" class="container">
  <table *ngIf="payments.length > 0" class="table">
    <thead>
      <tr>
        <th scope="col">Payer</th>
        <th scope="col">Receiver</th>
        <th scope="col">Market</th>
        <!-- <th scope="col">Description</th> -->
        <th scope="col">Settle</th>
        <th scope="col">Amount</th>
        <!-- <th scope="col">Time</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{payment.payer}}</td>
        <td>{{payment.receiver}}</td>
        <td>{{payment.market}}</td>
        <!-- <td>{{payment.market_description}}</td> -->
        <td>{{payment.settle | currency}}</td>
        <td>{{payment.amount | currency}}</td>
        <!-- <td>{{payment.time | date: 'short'}}</td> -->
      </tr>
    </tbody>
  </table>
  <p *ngIf="payments.length == 0">
    Looks like no markets have settled yet. Click here for all <a routerLink="/markets">active markets</a>.
  </p>
</div>